<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c785ac7c-4fe3-4a0e-973a-43b96ec1e3a3&lang=ru_RU"
            type="text/javascript">
        <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [59.93, 30.33],
                zoom: 11
            });
            // Создаем кластер.
            var clusterer = new ymaps.Clusterer({});
            // Создаём точки
            {#for realEstate in realEstates}
            var placemark_{realEstate.name} = new ymaps.Placemark([{realEstate.lat}, {realEstate.lng}], {
                    balloonContent:
                        'Название:  ' + '{realEstate.title}</br>' +
                        'Цена:  ' + '{realEstate.title}</br>' +
                        'Площадь:   ' + '{realEstate.title}</br>' +
                        'Этаж:  ' + '{realEstate.title}</br>' +
                        'Адрес: ' + '{realEstate.title}</br>' +
                        'Ссылка на объявление:   ' + '{realEstate.title}</br>' +
                        'Фото: </br>'
                        {#for image in realEstate.images}
                        + '<img src="{image}" /> </br>'
                        {/for}
                    ,
                    iconContent: "Питер"
                }
                , {
                    preset: "islands#yellowStretchyIcon",
                    // Отключаем кнопку закрытия балуна.
                    balloonCloseButton: false,
                    // Балун будем открывать и закрывать кликом по иконке метки.
                    hideIconOnBalloonOpen: false
                });
            clusterer.add(placemark_{realEstate.name});
            {/for}
            myMap.geoObjects.add(clusterer);
        }
    </script>
</head>

<body>
<div id="map" style="width: 1903px; height: 961px;"></div>
</body>

</html>